
body {
	background-image: url("https://images.pexels.com/photos/840698/pexels-photo-840698.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: 100%;
}

.container {
	margin-top:40px;
  margin-bottom:150px;
}

h1 {
	text-align:center;
}

label {
	font-weight:normal;
}

.form-control {
	width:30%;
}

.mainForm {
	border:1px solid #EEEEEE;
	border-radius:10px;
	padding:20px;
	background-color:white;
}

.form-actions {
	text-align:center;
}
